@import "mixins";

.my_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    @include defaultPageDiaplay;
    @include defaultBackdround;
}

.profile_details{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3rem 1rem;
}

.edit_icon_div{
    text-align: end;
    margin: 0.5rem 1rem 0 0;
}

.image_div{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
    .image_container{
        overflow: hidden;
        width: 13rem;
        height: 13rem;
        border-radius: 25rem;
        border: 5px solid #fff;
        .profile_image{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}   

.profile_form_details{
    margin: 1rem 0;
    transition: all 0.3s;
    .custom_profile_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .custom_group{
            width: 80%;
        }
        .input_content{
            text-align: center;
            background-color: rgba(0,0,0,0,) !important;
            border: none;
        }
        .input_content.active{
            text-align: start;
            background-color: #fff  !important;
            border: 1px solid #808080;
        }
        .input_content.captialize,
        .input_content.active.captialize
        {
            text-transform: capitalize;
        }        
    }  
}

@media only screen and(max-width: 992px){
    .profile_details{
        width: 90%;
        margin: 0.5rem 0;
    }
}